/* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */

h1,
h2 {
    margin: 5px;
    padding: 5px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.super {
    max-width: 85%;
    margin: 0 auto;
}

.example-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.example-full-width {
    flex: 1 1 auto;
}

.pending-button {
    flex: 0 1 auto;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}


.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}