<div class="alert alert-danger" [hidden]="!error">
	<!-- <div class="alert alert-danger"> -->
	There was a problem logging in. Please try again.
</div>

<div class="container">
	<h1 class="start-login">Iniciar sesión</h1>
	<form role="form" (submit)="login()">
		<div>
			<mat-form-field class="example-full-width">
				<mat-label for="username">Username:</mat-label>
				<input matInput type="text" class="form-control" id="username" name="username"
					[(ngModel)]="credentials.username" />
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label for="password">Password:</mat-label>
				<input matInput type="password" class="form-control" id="password" name="password"
					[(ngModel)]="credentials.password" />
			</mat-form-field>
		</div>

		<div class="container-button">
			<button class="login-button" mat-stroked-button color="primary" type="submit">Enviar</button>
		</div>
	</form>

</div>