<h2 *ngIf="isUpdate">Actualizar pendiente:</h2>
<h2 *ngIf="!isUpdate">Detalles:</h2>

<div class="super">

  <div *ngIf="isUpdate; then edit; else content"></div>

  <ng-template #content>
    <div class="container">
      <span class="topic">Asunto</span>
      <span class="topic" *ngIf="!isUpdate">Ultima actualización</span>
    </div>
    <div class="template-content">
      <span class="content">{{ pending.topic }} </span>
      <span class="content">
        {{ pending.dateSelected | date : "d MMMM, yyyy" }}</span>
      <button (click)="isUpdate ? (isUpdate = false) : (isUpdate = true)">
        Editar
      </button>
      <button class="button" type="submit" (click)="deletePending(pending)">
        Eliminar
      </button>
    </div>
    <div class="history" *ngIf="isHistory">
      <span>History </span>
      <div *ngFor="let pending of pendingHistory">
        <li>{{pending.topic}}</li>
      </div>
    </div>
  </ng-template>

  <ng-template #edit>
    <form class="template-edit" [formGroup]="checkoutForm" (submit)="updatePending(checkoutForm.value)">
      <label for="topic">Asunto:</label>
      <input class="edit-input" type="text" formControlName="topic" />
      <button type="submit">
        Guardar
      </button>
    </form>
  </ng-template>
</div>