.container {
  max-width: 85%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.history {
  margin-top: 25px;
}

.update-pending-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}