<div class="container">
  <h2 *ngIf="isUpdate">Actualizar pendiente:</h2>
  <h2 *ngIf="!isUpdate">Detalles:</h2>

  <div *ngIf="isUpdate; then edit; else content"></div>

  <ng-template #content>
    <table class="example-full-width" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> Pendiente </th>
        <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
      </ng-container>

      <ng-container matColumnDef="dateSelected">
        <th mat-header-cell *matHeaderCellDef> Ultima modificación</th>
        <td mat-cell *matCellDef="let element"> {{element.dateSelected | date : "d MMMM, yyyy" }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button color="primary" (click)="isUpdate ? (isUpdate = false) : (isUpdate = true)">
            Editar
          </button>
          <button mat-stroked-button color="warn" type="submit" (click)="deletePending(pending)">
            Eliminar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="history" *ngIf="isHistory">
      <h2>Historial </h2>
      <div *ngFor="let pending of pendingHistory">
        <li>{{pending.topic}}</li>
      </div>
    </div>
  </ng-template>

  <ng-template #edit>
    <form class="update-pending-form" [formGroup]="checkoutForm" (submit)="updatePending(checkoutForm.value)">
      <mat-form-field class="example-full-width">
        <mat-label for="topic">Asunto:</mat-label>
        <input matInput type="text" formControlName="topic" />
      </mat-form-field>
      <button mat-stroked-button color="primary" type="submit">
        Actualizar
      </button>
    </form>
  </ng-template>

</div>