
<h1>Pending</h1>
<input type="text" [(ngModel)]="pending" >
<button (click)="addPending(pending)">add</button>
<hr>

<div class="listOfPending" *ngFor="let item of pendingList; index as i">
  <div *ngIf="indexPending !== i; else edit">
    {{item.pending}}
  </div>
  <ng-template #edit>
    <input type="text" [(ngModel)]="pendingEdit" >
    <button (click)="updatePending(item, pendingEdit)">update</button>
  </ng-template>
  <div>
    <button (click)="editPending(item, i)">edit</button>
    <button (click)="deletePending(item)">delete</button>
  </div>
</div>

